body{
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 80px;
        margin-right: 150px;
}

h1{
    text-decoration: underline;
    text-align: center ;
    color:goldenrod;
}
.title{
    color:goldenrod;

}
.addr{

    font-size: 18px;
}
.exp{
    text-align: justify;
    font-size: 18px;
}
.skills{
    font-size: 18px;

}
.workexp{
    font-size: 25px;
    text-decoration: underline;
    color:goldenrod;

}
.companyexp{
    font-size: 18px;

}
.education{
    font-size: 25px;
    text-decoration: underline;
    color:goldenrod;
}
.college{
    font-size: 18px;

}
.schooling{
 
    th,
        td {
            border:  1px solid rgb(36, 6, 6);
            border-collapse: collapse;
            padding: 20px;
        }

        th {
            text-align: left;
            background-color: darkgrey;

        }
}
.personalinformation{
    font-size: 25px;
    text-decoration: underline;
    color:goldenrod; 
}
.personal{
    td {
        border:  1px solid rgb(36, 6, 6);
        border-collapse: collapse;
        padding: 20px;
    }

}
